   
   :root {
    --iris-color: #4D5AE5;
    --ocean:#404BBF;
    --navy-blue-color: #2E2F42;
    --slat-color: #434455;
    --cloud-color: #F4F4FD;    
    }

    .contanier {
        width: 1158px; 
        padding-left: 15px;
        padding-right: 15px;
        
    }     
    
    
    

    
                         
    body {
        color: #434455;
        background-color: #FFFFFF;

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;   
        letter-spacing: 0.02em;                     
    }   

    a {
        text-decoration: none;
        color: var(--slat-color);
    }

    ul, ol {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    img {
        display: block;
    }


/* ====================================== HEADER ==================================================================== */


.header {
    

}

/* ====================================== LOGO ====================================================================== */


.logo {
    color: var(--iris-color);

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    /* display:inline-block; */
    /* padding: 25.5px 0;  */
      

    outline: 5px dotted tomato;
    
}

.logo:focus,
.logo:hover {
    color: var(--ocean);
}

.logo-studio {
    color: var(--navy-blue-color);
    padding: 25.5px 0;
    
}

/* ====================================== NAV ============================================ */


.nav {
    padding: 24px 0px;


    outline: 5px dotted coral;
    /* background-color: maroon; */    
    
}   


.nav-list .link {
    color: var(--navy-blue-color);
    
    font-weight: 500;
    
}

.nav-list .link:focus,
.nav-list .link:hover {
    color: var(--ocean);
}

/* ====================================== ADDRESS ============================================ */


.address {

    /* padding-top: 24px;
    padding-bottom: 24px; */
    padding: 24px 0px;


    outline: 5px dotted coral;
    /* background-color: maroon; */
}

.address .link,
.address {
    color: var(--slat-color);
    
    font-style: normal;
    
}

.address .link:focus,
.address .link:hover {
    color: var(--ocean);
}

/* ====================================== SECTION HERO ============================================ */


.hero {
    background-color: var(--navy-blue-color);
    
}

.hero-title {
    color:white;
    
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 48px;

    outline: 5px dotted coral;
    /* background-color: maroon; */
}

/* ====================================== BUTTON ============================================ */


.button {
    color: white;
    background-color: var(--iris-color);

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    cursor: pointer;

    padding: 16px 32px;


     
    

    /* min-width: ; */
        outline: 5px dotted coral;
            /* background-color: maroon; */
    
}

.button:focus,
.button:hover {
    background-color: var(--ocean);
}

/* ====================================== SECTION 1 (OUR VALUE)============================================*/

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.section-title {
    color: var(--navy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
}

.section-list .section-topic {
    color: var(--navy-blue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.section-list,
.section-text {    
     font-size: 16px;
}

/* ====================================== SECTION 2 (OUR TEAM)============================================ */


.team {
    background-color: var(--cloud-color);
}

.section-card {
    background-color: #ffffff;
}

/* ====================================== SECTION 3 (PORTFOLIO)============================================*/





/* ====================================== FOOTER ============================================*/


.footer {
    background-color: var(--navy-blue-color);
}

.text-studio,
.footer-text {
    color: var(--cloud-color);
}

.footer-studio {
    color: var(--cloud-color)
}

